
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


a{
  text-decoration: none;
  
  
}

*{
   box-sizing: border-box; 
  margin: 0;             
  padding: 0;             
  border: 0;        
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

:root{
  --primary: #2E6FF2
}